*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style-type: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}
.wrapper {
  overflow: hidden;
  min-width: 100%;
}

.title, .app form, .app__place, .app__country, .app__temp, .app__weather{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 100%;
  height: 100%;
}